<!DOCTYPE html>
<html>
  <head>
    <title>Devops Glossary</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link href="index.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Assigment Pages</h1>
    <p>Here the some important concepts and tools that work with Devops</p>
    <table border="1">
        <tr>
            <th class="idtable">ID</th>
            <th>Term</th>
            <th>Description</th>
            <th>References</th>
        </tr>
        <tr>
            <td>1</td>
            <td>DevOps</td>
            <td>Devops is the bunch of software and delivery packets which takes atmost care between softwareand IT actions. it is most useful to shorten the life cycle of softwae development.</td>
            <td>https://www.dynatrace.com/monitoring/solutions/devops-wp/?utm_source=google&utm_medium=cpc&utm_term=what%20is%20devops&utm_campaign=anz--devops-devops&utm_content=none&utm_campaign_id=15353438761&gclsrc=aw.ds&gclid=Cj0KCQjwn_OlBhDhARIsAG2y6zMCrK7t0tkBz9Rkqj6bktZupmx_vTvErWKKTZeZcm8RKPNLmYIGkIYaAsYCEALw_wcB</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Continuous testing and quality assurance</td>
            <td>Testing each and every step with quality in development life cycle is called testing and maintaing a prefered quality in the service of a product is known as quality assurance</td>
            <td>https://www.globalapptesting.com/blog/what-is-continuous-testing#:~:text=Continuous%20testing%20in%20DevOps%20is,by%20testing%20early%20and%20often.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Automated delivery pipeline</td>
            <td>It is the bunch of tools that are used by development and operation section for compling, constructing, testing and deploying the code easire and faster.</td>
            <td>https://www.simplilearn.com/what-is-pipeline-in-devops-tools-implementation-article#:~:text=A%20DevOps%20pipeline%20is%20the,more%20like%20an%20assembly%20line.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Configuration management</td>
            <td>Configuration management mentions the process by which the environment hosting software are made and maintained.</td>
            <td>https://www.browserstack.com/guide/configuration-management-in-devops#:~:text=DevOps%20Configuration%20Management%20automates%20mundane,the%20organization%20as%20a%20whole.</td>
        </tr>
    </table>
  </body>
</html>
