<!DOCTYPE html>
<html>
  
    <style type="text/css">
            body {

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
width: 100%;
/* background-color: black; */
color: black;
text-align: center;
height: 5vh;
margin: 10px 0;
font-size: 24px;
font-weight: 600;
}

.discription {
font-size: 24px;
font-weight: 600;
}

table,
th,
td {
border: 2px solid black;
border-collapse: collapse;

}

th {
background-color: rgba(1, 146, 249, 0.73);
}

td {
font-size: 18px;
padding: 15px;
word-wrap: break-word;
}
      </style>
    
</head>

<body>
    <div class="title">SIT722 DEVOPS GLOSSARY</div>
    <div class="discription">It's a valuable source that would describe Devops and its important items</div>
    <div class="table">
        <table>
            <thead class="table-heading">
                <th>ID</th>
                <th style="width: 20%;">TERM</th>
                <th style="width: 30%;">DEFINITION</th>
                <th >REFERENCES</th>
            </thead>
            <tbody class="table-body">
              <tr>                
                <td>1</td>
                <td>Devops</td>              
                <td>Devops is the bunch of software and delivery packets which takes atmost care between softwareand IT actions. it is most useful to shorten the life cycle of softwae development.</td>
                <td style="word-break: break-all;">https://www.dynatrace.com/monitoring/solutions/devops-wp/?utm_source=google&utm_medium=cpc&utm_term=what%20is%20devops&utm_campaign=anz--devops-devops&utm_content=none&utm_campaign_id=15353438761&gclsrc=aw.ds&gclid=Cj0KCQjwn_OlBhDhARIsAG2y6zMCrK7t0tkBz9Rkqj6bktZupmx_vTvErWKKTZeZcm8RKPNLmYIGkIYaAsYCEALw_wcB</td>
              </tr>
              <tr>                
                <td>2</td>
                <td>Continuous testing and quality assurance</td>               
                <td>Testing each and every step with quality in development life cycle is called testing and maintaing a prefered quality in the service of a product is known as quality assurance</td>
                <td style="word-break: break-all;">https://www.globalapptesting.com/blog/what-is-continuous-testing#:~:text=Continuous%20testing%20in%20DevOps%20is,by%20testing%20early%20and%20often.</td>
              </tr>
              <tr>                
                <td>3</td>
                <td>Automated delivery pipeline</td>               
                <td>It is the bunch of tools that are used by development and operation section for compling, constructing, testing and deploying the code easire and faster.</td>
                <td style="word-break: break-all;">https://www.simplilearn.com/what-is-pipeline-in-devops-tools-implementation-article#:~:text=A%20DevOps%20pipeline%20is%20the,more%20like%20an%20assembly%20line.</td>
              </tr>
              <tr>                
                <td>4</td>
                <td>Configuration management</td>               
                <td>Configuration management mentions the process by which the environment hosting software are made and maintained.</td>
                 <td style="word-break: break-all;">https://www.browserstack.com/guide/configuration-management-in-devops#:~:text=DevOps%20Configuration%20Management%20automates%20mundane,the%20organization%20as%20a%20whole.</td>
              </tr>
              <tr>                
                <td>5</td>
                <td>Infrastructure of code</td>               
                <td>It is storded inside the version control system to become the part of project.</td>          
                <td style="word-break: break-all;">https://spacelift.io/blog/infrastructure-as-code</td>
              </tr>
              <tr>                
                <td>6</td>
                <td>Version control </td>               
                <td>Its another name is corce control, it does tracking and managing of the codes.</td>          
                <td style="word-break: break-all;">https://www.atlassian.com/git/tutorials/what-is-version-control</td>
              </tr>
              <tr>                
                <td>7</td>
                <td>Microservices</td>               
                <td>It is the designed process of making a seperate application to different services that performs specific function and talks to web</td>          
                <td style="word-break: break-all;">https://learn.microsoft.com/en-us/devops/deliver/what-are-microservices</td>
              </tr>
              <tr>                
                <td>8</td>
                <td>Kubernetes</td>               
                <td>The trials that kubernetes provide is useful for creating, deploying and scaling enterprise grade of pipelines</td>          
                <td style="word-break: break-all;">https://intellipaat.com/blog/kubernetes-and-devops/?US#:~:text=What%20is%20the%20use%20of,that%20are%20involved%20in%20orchestration.</td>
              </tr>
              <tr>                
                <td>9</td>
                <td>Infrastructure automation </td>               
                <td>It helps teams to manage workload more efficiently and quickly. It provides automation to all processes.</td>          
                <td style="word-break: break-all;">https://spacelift.io/blog/devops-automation-tools</td>
              </tr>
              <tr>                
                <td>10</td>
                <td>Containers</td>               
                <td>It is a form of operating system. A single container is enough to run microservers to large applications</td>          
                <td style="word-break: break-all;">https://www.netapp.com/devops-solutions/what-are-containers/#:~:text=DevOps%20teams%20know%20applications%20in,of%20where%20they%20are%20deployed.&text=Containers%20allow%20applications%20to%20be,deployed%2C%20patched%2C%20or%20scaled.&text=Containers%20support%20agile%20and%20DevOps,%2C%20test%2C%20and%20production%20cycles.</td>
              </tr>

              <tr>                
                <td>11</td>
                <td>Create with end in mind</td>              
                <td>This focuses on the requirements of the customer and creatinf product or service that solves real world problems.</td>
                <td style="word-break: break-all;">https://www.atlassian.com/devops/what-is-devops#:~:text=Customer%2Dcentric%20action,services%20centered%20around%20user%20needs.</td>
              </tr>
              <tr>                
                <td>12</td>
                <td>DevOps principles</td>               
                <td>This principles helps to decrease the complexity, instant problem solution and continuous delivery. It deploys higher quality code as compared to older teams.</td>          
                <td style="word-break: break-all;">https://www.atlassian.com/devops/what-is-devops#:~:text=Benefits%20of%20DevOps,-There%20are%20three&text=The%20technical%20benefits%20include%20reduced,efficient%20teams%2C%20and%20happier%20customers.</td>
              </tr>
              <tr>                
                <td>13</td>
                <td>DevOps cycle</td>               
                <td>It is a continuous lifecycle development that employs practice to build, plan, monitor, operate and constant feedbackthrough software lifecycle.</td>          
                <td style="word-break: break-all;">https://www.browserstack.com/guide/devops-lifecycle#:~:text=The%20DevOps%20lifecycle%20is%20a,feedback%20throughout%20the%20software's%20lifecycle.</td>
              </tr>
              <tr>                
                <td>14</td>
                <td>DevOps culture</td>               
                <td>It is all about divided understanding between operations, developers and responsibilities for the software they build.</td>          
                <td style="word-break: break-all;">https://www.atlassian.com/team-playbook/examples/devops-culture#:~:text=DevOps%20culture%20is%20all%20about,%2C%20and%20%22the%20business%22.</td>
              </tr>
              <tr>                
                <td>15</td>
                <td>Continuous integration</td>               
                <td>It is a development process where team use version control system and integrate their work in the same location as a main branch.</td>          
                <td style="word-break: break-all;">https://docs.aws.amazon.com/codepipeline/latest/userguide/concepts-continuous-delivery-integration.html</td>
              </tr>
              <tr>                
                <td>16</td>
                <td>Continuous delivery</td>               
                <td>It is a development methodology where the release process is automatic built, tested and deployed.</td>          
                <td style="word-break: break-all;">https://docs.aws.amazon.com/codepipeline/latest/userguide/concepts-continuous-delivery-integration.html</td>
              </tr>
              <tr>                
                <td>17</td>
                <td>Continuous monitoring</td>               
                <td>It is also known as continuous control monitoring is automatic process in which DevOps can observe and detect complicated issues and security threats in each phase..</td>          
                <td style="word-break: break-all;">https://www.browserstack.com/guide/continuous-monitoring-in-devops#:~:text=Fundamentally%2C%20Continuous%20Monitoring%20(CM),phase%20of%20the%20DevOps%20pipeline.</td>
              </tr>
              <tr>                
                <td>18</td>
                <td>Collaboration</td>               
                <td>It is data of development and operation which are working combinedly to solve problems as early as possible keeping customers in mind.</td>          
                <td style="word-break: break-all;">https://www.softwaretestinghelp.com/collaboration-in-devops/#:~:text=So%2C%20collaboration%20in%20the%20DevOps,the%20customer%20focus%20in%20mind.</td>
              </tr>
              <tr>                
                <td>19</td>
                <td>Cross functional autonomous teams</td>               
                <td>It is a group of people with individual skills, which can be from HR, IT, Marketing domain or finance.</td>          
                <td style="word-break: break-all;">https://www.plutora.com/blog/cross-functional-teams#:~:text=Bridge%20the%20gap%20between%20DevOps%20and%20Agile%20with%20Plutora&text=A%20cross%2Dfunctional%20team%20consists,human%20resources%2C%20or%20marketing%20domains.</td>
              </tr>
              <tr>                
                <td>20</td>
                <td>Customer centric action</td>               
                <td>this team provide small description of the conversation to the customer and end user to develop service and product.</td>          
                <td style="word-break: break-all;">https://www.atlassian.com/devops/what-is-devops#:~:text=Customer%2Dcentric%20action,services%20centered%20around%20user%20needs.</td>
              </tr>
            </tbody>
        </table>
    </div>
  </body>
</html>
