<!DOCTYPE html>
<html>
  
    <style type="text/css">
            body {

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
width: 100%;
/* background-color: black; */
color: black;
text-align: center;
height: 5vh;
margin: 10px 0;
font-size: 24px;
font-weight: 600;
}

.discription {
font-size: 24px;
font-weight: 600;
}

table,
th,
td {
border: 2px solid black;
border-collapse: collapse;

}

th {
background-color: rgba(1, 146, 249, 0.73);
}

td {
font-size: 18px;
padding: 15px;
word-wrap: break-word;
}
      </style>
    
</head>

<body>
    <div class="title">SIT722 DEVOPS GLOSSARY</div>
    <div class="discription">It's a valuable source that would describe Devops and its important items</div>
    <div class="table">
        <table>
            <thead class="table-heading">
                <th>ID</th>
                <th style="width: 20%;">TERM</th>
                <th style="width: 30%;">definition</th>
                <th >REFERENCES</th>
            </thead>
            <tbody class="table-body">
              <% list.forEach(variable => { %>
                <tr>                
                  <td><%= variable.id %></td>
                  <td><%= variable.term %></td>              
                  <td><%= variable.definition %></td>
                  <td style="word-break: break-all;"><%= variable.references %></td>
                </tr>
              <% }) %>

            </tbody>
        </table>
    </div>
  </body>
</html>
