/* html,body{ */
  /* height: 50%; */
  /* width: 100%;
  margin: 0px;
} */
/* table{
  border-collapse: collapse;

}
table .a{
  table-layout: fixed;
  width:180px;

} */
body {
  overflow: hidden; /* Hide scrollbars */
}
/* .abc{
  border: 3px solid;
  /* text-align: center; */
  /* display: flex; */
/* } */ 

